## Importing necessary modules

In [1]:
import pandas as pd
import os

In [2]:
files = os.listdir("Sales_Data")
files

['Sales_October_2019.csv',
 'Sales_December_2019.csv',
 'Sales_May_2019.csv',
 'Sales_January_2019.csv',
 'Sales_July_2019.csv',
 'Sales_August_2019.csv',
 'Sales_March_2019.csv',
 'Sales_June_2019.csv',
 '.ipynb_checkpoints',
 'Sales_February_2019.csv',
 'Sales_April_2019.csv',
 'Sales_November_2019.csv',
 'Sales_September_2019.csv']

In [3]:
df = pd.DataFrame()

In [4]:
for file in files:
    if not file.endswith(".csv"):
        continue
    n_df = pd.read_csv(f"Sales_Data/{file}")
    df = pd.concat([df, n_df])

In [7]:
df.to_csv("all_data.csv")

## Read from the updated dataset

In [9]:
df = pd.read_csv("all_data.csv")

In [20]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        186850 non-null  int64
 1   Order ID          186305 non-null  object
 2   Product           186305 non-null  object
 3   Quantity Ordered  186305 non-null  object
 4   Price Each        186305 non-null  object
 5   Order Date        186305 non-null  object
 6   Purchase Address  186305 non-null  object
 7   Month             186305 non-null  object
dtypes: int64(1), object(7)
memory usage: 11.4+ MB

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001",10
1,1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001",10
2,2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001",10
3,3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001",10
4,4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001",10

### adding new columns for better analysis

In [17]:
df['Month'] = df['Order Date'].str[:2]

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
186845,11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",09
186846,11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",09
186847,11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",09
186848,11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",09
186849,11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",09

## q1. What was the best month for sales and how much money was earned?